//AngularJS
script(type='text/javascript', src='/lib/angular/angular.js')
script(type='text/javascript', src='/lib/angular-cookies/angular-cookies.js')
script(type='text/javascript', src='/lib/angular-resource/angular-resource.js')

//Angular UI
script(type='text/javascript', src='/lib/angular-bootstrap/ui-bootstrap.js')
script(type='text/javascript', src='/lib/angular-bootstrap/ui-bootstrap-tpls.js')
script(type='text/javascript', src='/lib/angular-ui-utils/modules/route/route.js')

//Angular UI router
script(type='text/javascript', src='/lib/angular-ui-router/release/angular-ui-router.min.js')

//Elastic search service
script(type='text/javascript', src='/js/elasticjs/elastic.min.js')
script(type='text/javascript', src='/js/elasticjs/elastic-angular-client.min.js')

//Tree directive
script(type='text/javascript', src='/js/abn_tree_directive.js')

//Application Init
script(type='text/javascript', src='/js/app.js')
script(type='text/javascript', src='/js/config.js')
script(type='text/javascript', src='/js/directives.js')
script(type='text/javascript', src='/js/filters.js')

//Application Services
script(type='text/javascript', src='/js/services/global.js')
script(type='text/javascript', src='/js/services/experiments.js')

//Application Controllers
script(type='text/javascript', src='/js/controllers/experiments.js')
script(type='text/javascript', src='/js/controllers/analyses.js')
script(type='text/javascript', src='/js/controllers/analyses_dnaseq_reads.js')
script(type='text/javascript', src='/js/controllers/file_types.js')
script(type='text/javascript', src='/js/controllers/experiment_types.js')
script(type='text/javascript', src='/js/controllers/institutions.js')
script(type='text/javascript', src='/js/controllers/donors_results.js')
script(type='text/javascript', src='/js/controllers/samples_results.js')
script(type='text/javascript', src='/js/controllers/variants.js')
script(type='text/javascript', src='/js/controllers/genes.js')
script(type='text/javascript', src='/js/controllers/hpos.js')
script(type='text/javascript', src='/js/controllers/orphanets.js')
script(type='text/javascript', src='/js/controllers/omims.js')
script(type='text/javascript', src='/js/controllers/icd10s.js')
script(type='text/javascript', src='/js/controllers/index.js')
script(type='text/javascript', src='/js/controllers/header.js')
script(type='text/javascript', src='/js/init.js')

//Mix
script(type='text/javascript', src='/js/jquery.js')
script(type='text/javascript', src='/js/bootstrap.min.js')
script(type='text/javascript', src='/js/modernizr.custom.79639.js')
script(type='text/javascript', src='/js/jquery.cslider.js')


//d3
script(type='text/javascript', src='/lib/d3/d3.v3.min.js')
script(type='text/javascript', src='/lib/d3/nv.d3.min.js')
script(type='text/javascript', src='/lib/d3/angularjs-nvd3-directives.js')
script(type='text/javascript', src='/js/box.js')

if (req.host='localhost')
    //Livereload script rendered 
    script(type='text/javascript', src='http://localhost:35729/livereload.js')