.da-slider {
	width: 100%;
	min-width: 300px;
	height: 450px;
	position: relative;
	margin: 0 auto;
	overflow: hidden;
	background: #fbfbfb url(../img/slides/slitslider/2.jpg) repeat 0% 0%;
	-webkit-transition: background-position 1s ease-out 0.3s;
	-moz-transition: background-position 1s ease-out 0.3s;
	-o-transition: background-position 1s ease-out 0.3s;
	-ms-transition: background-position 1s ease-out 0.3s;
	transition: background-position 1s ease-out 0.3s;
}
