<div class="container">
		<div class="row">
			<div class="span3">
				<aside class="left-sidebar">
					<div class="widget">
						<h5 class="widgetheading">Software</h5>
						<ul>
							<li>FastQC</li>
						</ul>
					</div>
					<div class="widget">
						<h5 class="widgetheading">Files</h5>
					</div>
				</aside>
			</div>
			<div class="span9">

					<p class="text">&nbsp;</p>
					<div class="author">
						<img src="img/dummies/testimonial-author1.png" class="img-circle bordered" alt="">
						<p class="name">
							Helpdesk
						</p>
						<span class="info">DCC</span>
					</div>
				</div>
				<br />
				<div class="widget">
					<h5 class="widgetheading">Sample summary</h5>
				</div>
				<div class="widget">
					<h5 class="widgetheading">Mutation table</h5>
				</div>
				<div class="widget">
					<h5 class="widgetheading">Mutation table</h5>
				</div>
			</div>
		</div>
	</div>