<div class="container">
		<div class="row">
			<div class="span12">
				<div class="testimonial">
					<p class="text"><i class="icon-pushpin icon-48"></i>In this report you can check the quality of the sequence obtained. The analysis is performed using the FastQC software. FastQC aims to provide a simple way to do some quality control checks on raw sequence data coming from high throughput sequencing pipelines. It provides a modular set of analyses which you can use to give a quick impression of whether your data has any problems of which you should be aware before doing any further analysis.</p>
					<div class="author">
						<img src="img/dummies/testimonial-author1.png" class="img-circle bordered" alt="">
						<p class="name">
							Helpdesk
						</p>
						<span class="info">DCC</span>
					</div>
				</div>
				<br />
				<tabset>
				    <tab>
				    	<tab-heading>
					        <i class="icon-ok-circle"></i>Seq quality
					    </tab-heading>
					    <div id="perBaseQuality" per-base-sequence-quality></div>
				    </tab>
				    <tab>
				    	<tab-heading>
					        <i class="icon-ok-circle"></i>Quality scores
					    </tab-heading>
				    </tab>
				    <tab>
				    	<tab-heading>
					        <i class="icon-ok-circle"></i>Seq content
					    </tab-heading>
				    </tab>
					<tab>
				    	<tab-heading>
					        <i class="icon-ok-circle"></i>GC content
					    </tab-heading>
				    </tab>
					<tab>
				    	<tab-heading>
					        <i class="icon-ok-circle"></i>N content
					    </tab-heading>
				    </tab>
					<tab>
				    	<tab-heading>
					        <i class="icon-ok-circle"></i>Seq Length Dist
					    </tab-heading>
				    </tab>
				    <tab>
				    	<tab-heading>
					        <i class="icon-ok-circle"></i>Seq Dup Levels
					    </tab-heading>
				    </tab>
				    <tab>
				    	<tab-heading>
					        <i class="icon-ok-circle"></i>Overrepresented seq
					    </tab-heading>
				    </tab>
				    <tab>
				    	<tab-heading>
					        <i class="icon-ok-circle"></i>Kmer Content
					    </tab-heading>
				    </tab>
				</tabset>
			</div>
		</div>
	</div>