<accordion close-others="oneAtATime">
 <accordion-group is-open="isopen0">
	<accordion-heading>Modified histones <i style="float:right;margin-top:5px;" ng-class="{'icon-chevron-down': isopen0, 'icon-chevron-right': !isopen0}"></i></accordion-heading>
	
	</accordion-group>
<accordion close-others="oneAtATime">
 <accordion-group is-open="isopen1">
	<accordion-heading>DNAseI hypersensitive sites  <i style="float:right;margin-top:5px;" ng-class="{'icon-chevron-down': isopen1, 'icon-chevron-right': !isopen1}"></i></accordion-heading>
    
    
 </accordion-group>
 <accordion-group is-open="isopen2">
	<accordion-heading>Methylated regions <i style="float:right;margin-top:5px;" ng-class="{'icon-chevron-down': isopen2, 'icon-chevron-right': !isopen2}"></i></accordion-heading>
	
 </accordion-group> 
 <accordion-group is-open="isopen2">
	<accordion-heading>CpG islands <i style="float:right;margin-top:5px;" ng-class="{'icon-chevron-down': isopen2, 'icon-chevron-right': !isopen2}"></i></accordion-heading>
	
 </accordion-group> 
</accordion>