<div class="container">
	<div class="row">
		<div class="span3">
			<div class="widget">
				<h5 class="widgetheading">Browse pages</h5>
				<ul class="link-list">
					<li><a href="http://rd-connect.eu/" target="_blank">About RD-connect</a></li>
					<li><a href="http://rd-connect.eu/events/" target="_blank">Events</a></li>
				</ul>
			</div>
		</div>
		<div class="span3">
			<div class="widget">
				<h5 class="widgetheading">Relatad projects</h5>
				<ul class="link-list">
					<li><a href="http://eurenomics.eu/" target="_blank">Eurenomics</a></li>
					<li><a href="http://rd-neuromics.eu/" target="_blank">Neuromics</a></li>
				</ul>
			</div>
		</div>
		<div class="span2">

		</div>
		<div class="span4">
			<div class="widget">
				<h5 class="widgetheading">Get in touch with us</h5>
				<address>
				<strong>RD-Connect data coordination team</strong><br>
				 Centro Nacional de An&aacute;lisis Gen&oacute;mico. Spain<br>
				 Centro Nacional de Investigaciones Oncol&oacute;gicas. Spain<br>
				</address>
				<p>
					<i class="icon-envelope-alt"></i> vdelatorre@cnio.es
				</p>
			</div>
		</div>
	</div>
</div>
<div id="sub-footer">
	<div class="container">
		<div class="row">
			<div class="span6">
				<div class="copyright">
				</div>
			</div>
			<div class="span6">
				<ul class="social-network">
					<li><a href="https://twitter.com/ConnectRD" data-placement="bottom" title="Twitter" target="_blank"><i class="icon-twitter icon-square"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>

