<section id="featured">
	<div id="da-slider" class="da-slider" cslider>
		<div class="da-slide">
			<h2>All together</h2>
			<p>An integrated platform connecting <strong>databases</strong>, <strong>registries</strong>, <strong>biobanks</strong> and <strong>clinical bioinformatics</strong> for rare disease research</p>
			<a href="#" class="da-link">Read more</a>
			<div class="da-img">
				<i class="icon-cloud" style="font-size:150px;color:#FFF;"></i>
			</div>
		</div>
		<div class="da-slide">
			<h2>Revolution</h2>
			<p>
				A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.
			</p>
			<a href="#" class="da-link">Read more</a>
			<div class="da-img">
				<div class="video-container">
					<iframe src="http://player.vimeo.com/video/30585464?title=0&amp;byline=0">
					</iframe>
				</div>
			</div>
		</div>
		<nav class="da-arrows">
		<span class="da-arrows-prev"></span>
		<span class="da-arrows-next"></span>
		</nav>
	</div>
</section>
<section class="callaction">
	<div class="container">
		<div class="row">
			<div class="span12">
				<div class="big-cta">
					<div class="cta-text">
						<h3>First data release is now available</h3>
					</div>
					<div class="cta floatright">
						<a class="btn btn-large btn-theme btn-rounded" ui-sref="analyses">Search the data</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="content">
	<div class="container">
		<div class="row">
			<div class="span12">
				<div class="row">
					<div class="span3">
						<div class="box aligncenter" box>
							<div class="aligncenter icon">
								<i class="icon-cloud icon-circled icon-64 active"></i>
							</div>
							<div class="text">
								<h6>Biomedical Data</h6>
								<p>A unique entry point to explore an study centric collection of biomedical data</p>
								<a href="#">Learn more</a>
							</div>
						</div>
					</div>
					<div class="span3">
						<div class="box aligncenter" box>
							<div class="aligncenter icon">
								<i class="icon-stethoscope icon-circled icon-64 active"></i>
							</div>
							<div class="text">
								<h6>Patient Registries</h6>
								<p>A common registry infrastructure and common data elements (CDEs) from different providers		
								</p>
								<a href="#">Learn more</a>
							</div>
						</div>
					</div>
					<div class="span3">
						<div class="box aligncenter" box>
							<div class="aligncenter icon">
								<i class="icon-beaker icon-circled icon-64 active"></i>
							</div>
							<div class="text">
								<h6>Biobanks</h6>
								<p>A unique entry point for sample request to collection of standardised, quality controlled biomaterials data</p>
								<a href="#">Learn more</a>
							</div>
						</div>
					</div>
					<div class="span3">
						<div class="box aligncenter" box>
							<div class="aligncenter icon">
								<i class="icon-bar-chart icon-circled icon-64 active"></i>
							</div>
							<div class="text">
								<h6>Clinical Bioinformatics</h6>
								<p>An integration of molecular and clinical analysis tools to discover new diseases genes, pathways and therapeutic targets</p>
								<a href="#">Learn more</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
