<section id="inner-headline" class="patients">
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span6">
				<div class="inner-heading">
					<h2><i class="icon-bar-chart"></i> View <strong>Donor Report</strong></h2>
				</div>
			</div>
			<div class="span6">
				<ul class="breadcrumb">
					<li><a href="#"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
					<li><a>Search</a><i class="icon-angle-right"></i></li>
					<li><a ui-sref="patients">Donors</a><i class="icon-angle-right"></i></li>
					<li class="active">View Report</li>
				</ul>
			</div>
		</div>
	</div>
</section>
<section id="content">
	<div ui-view></div>
	
</section>

