<div id="uploadDonorList" class="modal styled hide fade" tabindex="-1" role="dialog" aria-labelledby="uploadDonorListLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
		<h4 id="uploadDonorListLabel">Donors</h4>
	</div>
	<div class="modal-body">
		<form class="form-horizontal">
			<div class="control-group">
				<label class="control-label" for="donorList">Donor list</label>
				<div class="controls">
					<textarea  type="text" id="donorList" placeholder="Paste your list one patient per line" class="input-xlarge" rows="10"></textarea>
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<button type="submit" class="btn">Save</button>
				</div>
			</div>
		</form>
	</div>
</div>
<section id="inner-headline" class="patients">
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span6">
				<div class="inner-heading">
					<h2><i class="icon-hospital"></i> Search <strong>Donors</strong></h2>
				</div>
			</div>
			<div class="span6">
				<ul class="breadcrumb">
					<li><a href="#"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
					<li><a>Search</a><i class="icon-angle-right"></i></li>
					<li class="active">Donors</li>
				</ul>
			</div>
		</div>
	</div>
</section>
<section id="content">
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span4">
				<aside class="left-sidebar">
					<h4>Filter by</h4>
					 <tabset>
						 <tab>
					    	<tab-heading><a href="#" tooltip="Institution"><img src="/img/icon_26108.svg" style="height:20px;"></a></tab-heading>
						    <h6>Institution</h6>
						     <div ng-include="'partials/institutions-tab.html'"></div>
						 </tab>
						 <tab>
					    	<tab-heading><a href="#" tooltip="Phenotype"><img src="/img/icon_20445.svg" style="height:20px;"></a></tab-heading>
					    	<h6>Phenotype</h6>
						    <div ng-include="'partials/phenotype-tab.html'"></div>
						 </tab>
						 <tab>
						 	 <tab-heading><a href="#" tooltip="Genomics"><img src="/img/icon_12357.svg" style="height:20px;"></a></tab-heading>
						 	 <h6>Genomics</h6>
						 	 <div ng-include="'partials/genomics-tab.html'"></div>
						 </tab>
						  <tab>
						 	 <tab-heading><a href="#" tooltip="Epigenetics"><img src="/img/icon_9168.svg" style="height:20px;"></a></tab-heading>
						 	 <h6>Epigenetics</h6>
						 	 <div>
							 	 <p>Scheduled for 1Q 2015</p>
						 	 </div>
						 </tab>
						  <tab>
						 	 <tab-heading><a href="#" tooltip="Proteomics"><img src="/img/icon_25353.svg" style="height:20px;"></a></tab-heading>
						 	 <h6>Proteomics</h6>
						 	 <div>
							 	 <p>Scheduled for 1Q 2015</p>
						 	 </div>
						 </tab>
						 <tab>
						 	 <tab-heading><a href="#" tooltip="Metabolomics"><img src="/img/icon_27602.svg" style="height:20px;"></a></tab-heading>
						 	 <h6>Metabolomics</h6>
						 	 <div>
							 	 <p>Scheduled for 1Q 2015</p>
						 	 </div>
						 </tab>
					 </tabset> 
				</aside>
			</div>
			<div class="span8">
				<h4>Results</h4>
				<tabset>
				    <tab data-ng-controller="PatientsCtrl" data-ng-init="all()">
				    	<tab-heading>Donors</tab-heading>
				    	<table class="table table-striped">
							<thead>
								<tr>
									<th>Donor ID</th>
									<th>Institution</th>
									<th>Data available</th>
									<th>Gender</th>
									<th># Genes</th>
									<th># Mutations</th>
									<th>Actions</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="p in filteredPatients">
									<td>{{p.id}}</td>
									<td>{{p.institution}}</td>
									<td>
										<a href="#" tooltip="Phenotype"><img src="/img/icon_20445.svg" style="height:15px;"></a>&nbsp;
										<a href="#" tooltip="Genomics"><img src="/img/icon_12357.svg" style="height:15px;"></a>
									</td>
									<td>{{p.gender}}</td>
									<td>{{p.genes}}</td>
									<td>{{p.mutations}}</td>
									<td><a href="index.html#/search/patients/view/donor_report/{{p.id}}" tooltip="View donor report"><i class="icon-bar-chart"></i></a></td>
								</tr>
							</tbody>
						</table>
				    </tab>
				    <tab data-ng-controller="PatientsCtrl" data-ng-init="all()">
				    	<tab-heading>Affected Genes</tab-heading> 
				    	<table class="table table-striped">
							<thead>
								<tr>
									<th>Gene ID</th>
									<th>Chromosome</th>
									<th>Type</th>
									<th># Patients</th>
									<th>Actions</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="g in filteredGenes">
									<td>{{g.id}}</td>
									<td>{{g.chr}}</td>
									<td>{{g.type}}</td>
									<td>{{g.patients}}</td>
									<td><a href="index.html#/search/analyses/view/{{a.analysisType}}/{{a.id}}"><i class="icon-bar-chart"></i></a></td>
								</tr>
							</tbody>
						</table>
				    </tab>
				    <tab data-ng-controller="PatientsCtrl"  data-ng-init="getBackendVariants()">
				    	<tab-heading>Variants</tab-heading>
				    	<table class="table table-striped">
							<thead>
								<tr>
									<th colspan="2" style="text-align:center!important;">Change</th>
									<th colspan="3" style="text-align:center!important;">Quality</th>
									<th colspan="4" style="text-align:center!important;">Annotations</th>
									<th colspan="2"></th>
								</tr>
								<tr>
									<th>DNA Change</th>
									<th><a href="#" tooltip="VCF Quality score">VCF Quality</a></th>
									<th><a href="#" tooltip="CSV list of counts of high-quality reads supporting ref-forward, ref-reverse, alt-for, alt-rev base calls e.g. (10,8,11,6)">DP4</a></th>
									<th><a href="#" tooltip="dbSNP is a public database of single nucleotide polymorphisms (SNPs)">dbSNP</a></th>
									<th><a href="#" tooltip="Genotype called	either 0/0 or 0/1 or 1/1 for homozygote reference, heterozygote, homozygote alternative">Genotype</a></th>
									<th>Type</th>
									<th>Consequence</th>
									<th>Status</th>
									<th>Patients</th>
									<th>Actions</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="v in variants">
									<td>chr{{v._source.Chr}}:g.{{v._source.Pos}}{{v._source.Ref}}>{{v._source.Alt}}</td>
									<td>{{v._source.Donors[0].NA12877.Qua}}</td>
									<td>{{v._source.Donors[0].NA12877.Dp4}}</td>
									<td>{{v._source.dbSNP}}</td>
									<td>{{v._source.Donors[0].NA12877.GT}}</td>
									<td>{{v.type}}</td>
									<td>{{v.consequence}}</td>
									<td>{{v.status}}</td>
									<td>{{v.patients}}</td>
									<td><a href="index.html#/search/analyses/view/{{a.analysisType}}/{{a.id}}"><i class="icon-bar-chart"></i></a></td>
								</tr>
							</tbody>
						</table>
				    </tab>   
				</tabset>
			</div>
		</div>
	</div>
</section>