<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="span4">
				<div class="inner-heading">
					<h2>Search</h2>
				</div>
			</div>
			<div class="span8">
				<ul class="breadcrumb">
					<li><a href="#"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
					<li class="active">Search</li>
				</ul>
			</div>
		</div>
	</div>
</section>
<div class="container">
		<div class="row">
			<div class="span12">
				<ul class="portfolio-categ filter">
					<li class="all active"><a href="#">All</a></li>
					<li class="web"><a href="#" title="">Primary data</a></li>
				</ul>
				<div class="clearfix">
				</div>
				<div class="row">
					<section id="projects">
					<ul id="thumbs" class="portfolio">
						<!-- Patients-->
						<li class="item-thumbs span3 design" data-id="id-0" data-type="web">
							<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Portfolio name" ui-sref="genomics">
							<span class="overlay-img"></span>
							<span class="overlay-img-thumb"><p>Patients</p></span>
							</a>
							<img src="img/works/thumbs/patients.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.">
						</li>

						<!-- Samples -->
						<li class="item-thumbs span3 design" data-id="id-1" data-type="icon">
						<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Portfolio name" href="img/works/full/image-02-full.jpg">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb">Samples</span>
						</a>
						<img src="img/works/thumbs/samples.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.">
						</li>

						<!-- Genomics -->
						<li class="item-thumbs span3 photography" data-id="id-2" data-type="graphic" ui-sref="genomics">
						<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Portfolio name" href="img/works/full/image-03-full.jpg">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb">Genomic data</span>
						</a>
						<img src="img/works/thumbs/genomic-data.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.">
						</li>

						<!-- Epigenetics -->
						<li class="item-thumbs span3 photography" data-id="id-2" data-type="graphic">
						<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Portfolio name" href="img/works/full/image-03-full.jpg">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb">Epigenetics data</span>
						</a>
						<img src="img/works/thumbs/epigenetics-data.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.">
						</li>

					</ul>
					</section>
				</div>
			</div>
		</div>
	</div>

<a ui-sref="state1.list">Show List</a>
<div ui-view></div>